USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 29.05.2022 11:23:43 ******/
CREATE DATABASE [ATM]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[Kisi]    Script Date: 29.05.2022 11:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisi](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](11) NULL,
	[sifre] [nvarchar](16) NULL,
	[bakiye] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kisi] ON 

INSERT [dbo].[Kisi] ([id], [ad], [soyad], [telefon], [sifre], [bakiye]) VALUES (2, N'Duygu', N'Erdoğdu', N'05557778989', N'duyguerdogdu#897', NULL)
INSERT [dbo].[Kisi] ([id], [ad], [soyad], [telefon], [sifre], [bakiye]) VALUES (3, N'Cihangir', N'Ateş', N'05778915788', N'mStAte$123', 0)
INSERT [dbo].[Kisi] ([id], [ad], [soyad], [telefon], [sifre], [bakiye]) VALUES (4, N'Ferhat', N'Özel', N'05555111111', N'changirIpek##', 1805)
SET IDENTITY_INSERT [dbo].[Kisi] OFF
GO
USE [master]
GO
